@import 'variables';
@import 'mixins';

/***** GLOBAL *****/
h1 {
    @include title1;
}

h2 {
    @include title2;
}

h3 {
    @include title3;
}

p {
    @include paragraphs;
}

/***** HEADER *****/
header {
    .navbar {
        display: flex;
        justify-content: space-between;
            .icone img {
                height: 100px;
                width: auto;
            }
            .navbar-nav a {
                margin: 10px 20px;
            }
            .socials i {
                color: black;
                margin: 10px;
                font-size: 20px;
            }
    }
    .home-title {
        background-image: url(../images/wallpaper.jpg);
        background-position: center;
        background-size: cover;
        height: 90vh;
            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 60px;
                text-align: center;
            }
    }
}

/***** PRODUCTS *****/
#products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    background: linear-gradient(to top, $lightgrey 0%,$lightgrey 50%, white 50%, white 100%);
        .pictures img {
            height: 500px;
            width: auto;
            margin: 80px 30px;
        }
        .ourProducts {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
                a {
                    color: black;
                    text-decoration: underline;
                    padding: 20px;
                }
                img {
                    height: 250px;
                    width: auto;
                    margin: 10px;
                }
        }
}

/***** ABOUT US *****/
#aboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
        .presentation {
            width: 300px;
            margin: 40px 60px;
                .link {
                    padding-top: 10px;
                    padding-bottom: 70px;
                    a {
                        color: black;
                        text-decoration: underline;
                    }
                }
                .text {
                    padding: 30px 0;
                }
        }
        .buffet1 img {
            height: 350px;
            width: auto;
            margin: 50px;
        }
}

/***** SERVICES *****/
#services {
    background-color: $lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
        .catering {
            display: flex;
            margin-top: 50px;
            margin-bottom: 80px;
                .catering-img {
                    width: 600px;
                }
                img {
                    width: 500px;
                    height: 330px;

                }
                .cateringService {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 330px;
                    width: 400px;
                }
                a {
                    color: black;
                    text-decoration: underline;
                }
        }
        .location {
            display: flex;
                .ourCafe {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 600px;
                    padding-right: 200px;
                }
                .ourCafe img {
                    width: 400px;
                    height: auto;
                }
        }
        .openingHours {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
                .openingHours-img img {
                    width: 600px;
                }
                .hours {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 400px;
                    padding: 60px;
                }
        }
}

/***** GUEST COMMENT *****/
#guestComments {
    display: flex;
    justify-content: center;
    align-items: center;
        .comment {
            width: 500px;
            margin: 60px;
                p {
                    color: grey;
                }
        }
        .guest {
            display: flex;
            flex-direction: column;
            align-items: center;
                img {
                height: auto;
                width: 200px;
                margin: 10px;
                border-radius: 64% 36% 34% 66% / 48% 48% 52% 52%;
                }
        }
}

/***** CONTACT *****/
#contact {
    background-color: $lightgrey;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 50px 0;
        .newsletter {
            width: 500px;
            margin-bottom: 20px;
                .newsletter-title {
                    width: 300px;
                    padding-bottom: 30px;
                }
                input {
                    width: 400px;
                    background-color: $lightgrey;
                }
        }
        .findUs {
            display: flex;
            flex-direction: column;
                .findUs-title {
                    padding-bottom: 60px;
                    padding-left: 10px;
                }
                .places {
                    display: flex;
                        p {
                            padding: 10px;
                        }
                }
        }
}

/***** FOOTER *****/
footer {
    .navbar {
        display: flex;
        justify-content: space-between;
            .navbar-brand {
                color: white;
                margin: 10px;
            }
            .navbarMenu {
                display: flex;
                    a {
                    margin: 10px 20px;
                    color: white;
                    }
            }
            .socials i {
                color: white;
                margin: 10px;
                font-size: 20px;
            }
    }
}

/***** RWD *****/
@media all and (max-width:1070px) {
    footer .navbar .navbarMenu a {
        margin: 0;
    }
}

@media all and (max-width:1020px) {
    #services {
        .catering {
            flex-direction: column;
            margin: 0;
                .catering-img {
                    width: 400px;
                    margin: 20px;
                        img {
                            width: 400px;
                            margin-top: 10px;
                        }
                }
                .cateringService {
                    margin: 20px;
                }
        }
        .location {
            flex-direction: column;
            align-items: center;
                .location-img {
                    width: 200px;
                    margin: 0 0 20px 0;
                        img {
                            width: 200px;
                        }
                }
                .ourCafe {
                    width: 400px;
                    margin: 20px;
                    padding: 0;
                }
        }
        .openingHours {
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
                .openingHours-img {
                    width: 400px;
                    margin: 20px 0;
                        img {
                            width: 400px;
                        }
                }
                .hours {
                    width: 300px;
                    padding: 0;
                    text-align: center;
                }
        }
    }

    #contact {
        flex-direction: column;
        align-items: center;
            .newsletter {
                width: 400px;
                padding-left: 10px;
                padding-bottom: 40px;
                    input {
                        width: 300px;
                    }
            }
            .findUs {
                width: 400px;
                    .findUs-title {
                        padding: 0 0 20px 10px;
                    }
            }
    }
}

@media all and (max-width:930px) {
    #aboutUs .presentation {
        margin: 20px;
        .link {
            padding: 0;
        }
        .text {
            padding: 20px 0;
        }
    }
    #aboutUs .buffet1 img {
        margin: 10px;
        height: 200px;
    }

    footer .navbar .navbarMenu a {
            font-size: 12px;
    }
    footer .navbar .socials i {
        margin: 5px;
        font-size: 20px;
    }
}

@media all and (max-width:670px) {
    footer .navbar .navbarMenu {
        display: none;
    }
}

@media all and (max-width:580px) {
    #aboutUs {
        flex-direction: column;
        text-align: center;
    }

    #guestComments {
        flex-direction: column-reverse;
            .comment {
                margin: 20px;
                width: auto;
            }
            .guest img {
                margin: 20px;
            }
    }
}

@media all and (max-width:420px) {
    header .home-title {
        height: 70vh;
    }

    #products {
        padding: 0 0 20px 0;
            .pictures {
                .pic1 {
                    margin: 0 0 10px 0;
                    width: 300px;
                    height: auto;
                }
                .pic2, .pic3 {
                    display: none;
                }
            }
    }
    #products .ourProducts {
        .pic7, .pic8 {
            display: none;
        }
    }
    #aboutUs .buffet1 {
        display: none;
    }

    #services {
        justify-content: center;
        text-align: center;
            .catering {
                align-items: center;
                width: 280px;
                    .catering-img {
                        width: 280px;
                        height: auto;
                        margin: 10px;
                            img {
                                width: 280px;
                                height: auto;
                                margin-top: 10px;
                            }
                    }
            }
            .catering .cateringService {
                width: 280px;
                height: auto;
                margin: 10px;
                    a {
                        padding-bottom: 10px;
                    }
            }
            .location {
                width: 280px;
                    .location-img {
                        width: 150px;
                        margin: 0 0 10px 0;
                            img {
                            width: 150px;
                            }
                    }
                    .ourCafe {
                        width: 280px;
                        margin: 10px;
                        padding: 0;
                    }
            }
            .openingHours {
                margin-bottom: 10px;
                    .openingHours-img {
                        width: 280px;
                        margin: 10px 0;
                            img {
                                width: 280px;
                            }
                    }
                    .hours {
                        width: 280px;
                        padding: 0;
                    }
            }
    }

    #contact {
        padding: 20px 0;
        .newsletter {
            width: 280px;
            padding: 0;
                .newsletter-title {
                    width: 280px;
                    padding: 10px;
                }
                form {
                    width: 280px;
                    padding: 10px;
                }
                input {
                    width: 250px;
                }
        }
        .findUs {
            width: 280px;
            font-size: 12px;
                .findUs-title {
                    padding: 10px;
                }
        }
    }
}