/***** COLORS *****/
/***** FONTS *****/
/***** GLOBAL *****/
h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

p {
  font-family: "Montserrat", sans-serif;
}

/***** HEADER *****/
header .navbar {
  display: flex;
  justify-content: space-between;
}
header .navbar .icone img {
  height: 100px;
  width: auto;
}
header .navbar .navbar-nav a {
  margin: 10px 20px;
}
header .navbar .socials i {
  color: black;
  margin: 10px;
  font-size: 20px;
}
header .home-title {
  background-image: url(../images/wallpaper.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
}
header .home-title .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  text-align: center;
}

/***** PRODUCTS *****/
#products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  background: linear-gradient(to top, #F2F2F2 0%, #F2F2F2 50%, white 50%, white 100%);
}
#products .pictures img {
  height: 500px;
  width: auto;
  margin: 80px 30px;
}
#products .ourProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#products .ourProducts a {
  color: black;
  text-decoration: underline;
  padding: 20px;
}
#products .ourProducts img {
  height: 250px;
  width: auto;
  margin: 10px;
}

/***** ABOUT US *****/
#aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutUs .presentation {
  width: 300px;
  margin: 40px 60px;
}
#aboutUs .presentation .link {
  padding-top: 10px;
  padding-bottom: 70px;
}
#aboutUs .presentation .link a {
  color: black;
  text-decoration: underline;
}
#aboutUs .presentation .text {
  padding: 30px 0;
}
#aboutUs .buffet1 img {
  height: 350px;
  width: auto;
  margin: 50px;
}

/***** SERVICES *****/
#services {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#services .catering {
  display: flex;
  margin-top: 50px;
  margin-bottom: 80px;
}
#services .catering .catering-img {
  width: 600px;
}
#services .catering img {
  width: 500px;
  height: 330px;
}
#services .catering .cateringService {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 330px;
  width: 400px;
}
#services .catering a {
  color: black;
  text-decoration: underline;
}
#services .location {
  display: flex;
}
#services .location .ourCafe {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 600px;
  padding-right: 200px;
}
#services .location .ourCafe img {
  width: 400px;
  height: auto;
}
#services .openingHours {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
#services .openingHours .openingHours-img img {
  width: 600px;
}
#services .openingHours .hours {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 400px;
  padding: 60px;
}

/***** GUEST COMMENT *****/
#guestComments {
  display: flex;
  justify-content: center;
  align-items: center;
}
#guestComments .comment {
  width: 500px;
  margin: 60px;
}
#guestComments .comment p {
  color: grey;
}
#guestComments .guest {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#guestComments .guest img {
  height: auto;
  width: 200px;
  margin: 10px;
  border-radius: 64% 36% 34% 66%/48% 48% 52% 52%;
}

/***** CONTACT *****/
#contact {
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 50px 0;
}
#contact .newsletter {
  width: 500px;
  margin-bottom: 20px;
}
#contact .newsletter .newsletter-title {
  width: 300px;
  padding-bottom: 30px;
}
#contact .newsletter input {
  width: 400px;
  background-color: #F2F2F2;
}
#contact .findUs {
  display: flex;
  flex-direction: column;
}
#contact .findUs .findUs-title {
  padding-bottom: 60px;
  padding-left: 10px;
}
#contact .findUs .places {
  display: flex;
}
#contact .findUs .places p {
  padding: 10px;
}

/***** FOOTER *****/
footer .navbar {
  display: flex;
  justify-content: space-between;
}
footer .navbar .navbar-brand {
  color: white;
  margin: 10px;
}
footer .navbar .navbarMenu {
  display: flex;
}
footer .navbar .navbarMenu a {
  margin: 10px 20px;
  color: white;
}
footer .navbar .socials i {
  color: white;
  margin: 10px;
  font-size: 20px;
}

/***** RWD *****/
@media all and (max-width: 1070px) {
  footer .navbar .navbarMenu a {
    margin: 0;
  }
}
@media all and (max-width: 1020px) {
  #services .catering {
    flex-direction: column;
    margin: 0;
  }
  #services .catering .catering-img {
    width: 400px;
    margin: 20px;
  }
  #services .catering .catering-img img {
    width: 400px;
    margin-top: 10px;
  }
  #services .catering .cateringService {
    margin: 20px;
  }
  #services .location {
    flex-direction: column;
    align-items: center;
  }
  #services .location .location-img {
    width: 200px;
    margin: 0 0 20px 0;
  }
  #services .location .location-img img {
    width: 200px;
  }
  #services .location .ourCafe {
    width: 400px;
    margin: 20px;
    padding: 0;
  }
  #services .openingHours {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  #services .openingHours .openingHours-img {
    width: 400px;
    margin: 20px 0;
  }
  #services .openingHours .openingHours-img img {
    width: 400px;
  }
  #services .openingHours .hours {
    width: 300px;
    padding: 0;
    text-align: center;
  }
  #contact {
    flex-direction: column;
    align-items: center;
  }
  #contact .newsletter {
    width: 400px;
    padding-left: 10px;
    padding-bottom: 40px;
  }
  #contact .newsletter input {
    width: 300px;
  }
  #contact .findUs {
    width: 400px;
  }
  #contact .findUs .findUs-title {
    padding: 0 0 20px 10px;
  }
}
@media all and (max-width: 930px) {
  #aboutUs .presentation {
    margin: 20px;
  }
  #aboutUs .presentation .link {
    padding: 0;
  }
  #aboutUs .presentation .text {
    padding: 20px 0;
  }
  #aboutUs .buffet1 img {
    margin: 10px;
    height: 200px;
  }
  footer .navbar .navbarMenu a {
    font-size: 12px;
  }
  footer .navbar .socials i {
    margin: 5px;
    font-size: 20px;
  }
}
@media all and (max-width: 670px) {
  footer .navbar .navbarMenu {
    display: none;
  }
}
@media all and (max-width: 580px) {
  #aboutUs {
    flex-direction: column;
    text-align: center;
  }
  #guestComments {
    flex-direction: column-reverse;
  }
  #guestComments .comment {
    margin: 20px;
    width: auto;
  }
  #guestComments .guest img {
    margin: 20px;
  }
}
@media all and (max-width: 420px) {
  header .home-title {
    height: 70vh;
  }
  #products {
    padding: 0 0 20px 0;
  }
  #products .pictures .pic1 {
    margin: 0 0 10px 0;
    width: 300px;
    height: auto;
  }
  #products .pictures .pic2, #products .pictures .pic3 {
    display: none;
  }
  #products .ourProducts .pic7, #products .ourProducts .pic8 {
    display: none;
  }
  #aboutUs .buffet1 {
    display: none;
  }
  #services {
    justify-content: center;
    text-align: center;
  }
  #services .catering {
    align-items: center;
    width: 280px;
  }
  #services .catering .catering-img {
    width: 280px;
    height: auto;
    margin: 10px;
  }
  #services .catering .catering-img img {
    width: 280px;
    height: auto;
    margin-top: 10px;
  }
  #services .catering .cateringService {
    width: 280px;
    height: auto;
    margin: 10px;
  }
  #services .catering .cateringService a {
    padding-bottom: 10px;
  }
  #services .location {
    width: 280px;
  }
  #services .location .location-img {
    width: 150px;
    margin: 0 0 10px 0;
  }
  #services .location .location-img img {
    width: 150px;
  }
  #services .location .ourCafe {
    width: 280px;
    margin: 10px;
    padding: 0;
  }
  #services .openingHours {
    margin-bottom: 10px;
  }
  #services .openingHours .openingHours-img {
    width: 280px;
    margin: 10px 0;
  }
  #services .openingHours .openingHours-img img {
    width: 280px;
  }
  #services .openingHours .hours {
    width: 280px;
    padding: 0;
  }
  #contact {
    padding: 20px 0;
  }
  #contact .newsletter {
    width: 280px;
    padding: 0;
  }
  #contact .newsletter .newsletter-title {
    width: 280px;
    padding: 10px;
  }
  #contact .newsletter form {
    width: 280px;
    padding: 10px;
  }
  #contact .newsletter input {
    width: 250px;
  }
  #contact .findUs {
    width: 280px;
    font-size: 12px;
  }
  #contact .findUs .findUs-title {
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */